#table1 {width: 700px;
		margin: auto;
		border: 5px solid #183E0C;
		border-collapse: collapse;
		border-spacing: 5px;}
caption {font-weight: bold;
		font-size: 1.2em;
		padding-bottom: 0.5em;}
.altrow {background-color: #eaeaea;}
#table1 tr:first-of-type {background-color: #183E0C;
					color: #ffffff;}
#table1 tr:last-of-type {background-color: #183E0C;
						color: #ffffff;}
#table1 tr:nth-of-type(2) {background-color: #4FA834;
							color: #ffffff;}
#table1 tr:nth-of-type(8) {background-color: #4FA834;
							color: #ffffff;}
#table1 tr:nth-of-type(12) {background-color: #4FA834;
							color: #ffffff;}